@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    background-color: whitesmoke
}

th,td{
    @apply py-2 px-4 border-2 text-center;
   
    
}
tr{
    @apply hover:bg-slate-200;
}
.sub-menu{
    display: none;
}
.menu ul li:hover .sub-menu{
    display: block;
    background-color: whitesmoke;
    border: 2px solid rgb(245, 238, 238);
    position: relative;
 z-index: 1;
   
   
    
    
   

}
label{
    @apply  px-3;
}
